<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="./css/nav-bar.css">
</head>

<nav class="navigation-bar">
    <div class="heading">
        <ul class="nav-links">
            <li>
                <a href="blog.ejs">Blogs</a>
            </li>
            <li>
                <a href="about.ejs">About</a>
            </li>
            <li>
                <a href="contactUs.ejs">Inquiries</a>
            </li>
        </ul>
    </div>
</nav>